<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.patrimonio2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PATRIMONIO2">
        <activity
            android:name=".igrexaCruceiroDeSantaMariaDeBamonde"
            android:exported="false" />
        <activity
            android:name=".igrexadeSanSimonDeOnsCacheiras"
            android:exported="false" />
        <activity
            android:name=".igrexaDeSantaMariaDeTeo"
            android:exported="false" />
        <activity
            android:name=".igrexaDeSantaMariaDeLuou"
            android:exported="false" />
        <activity
            android:name=".ermidaCruceiroDeSantaEufemia"
            android:exported="false" />
        <activity
            android:name=".igrexaDeSanMiguelDeRaris"
            android:exported="false" />
        <activity
            android:name=".igrexaDeSantaMariaDeLampai"
            android:exported="false" />
        <activity
            android:name=".capelaCruceiroDoEspiritoSanto"
            android:exported="false" />
        <activity
            android:name=".capelaDeSantaAnaDeLampai"
            android:exported="false" />
        <activity
            android:name=".casaReitoralDeBamonde"
            android:exported="false" />
        <activity
            android:name=".petroglifoDoRioAngueiraOuDoMonteDeCornide"
            android:exported="false" />
        <activity
            android:name=".petroglifoDoOuteiroDoCorno"
            android:exported="false" />
        <activity
            android:name=".petroglifoDaPenaBicudaDeLoureiro"
            android:exported="false" />
        <activity
            android:name=".areaArqueoloxicaDoMontePiquinho"
            android:exported="false" />
        <activity
            android:name=".marcoDaAgrela"
            android:exported="false" />
        <activity
            android:name=".patrimonio_eclesiastico"
            android:exported="false" />
        <activity
            android:name=".patrimonio_arqueoloxico"
            android:exported="false" />
        <activity
            android:name=".devesa_agromaior"
            android:exported="false" />
        <activity
            android:name=".fraga_sestelo"
            android:exported="false" />
        <activity
            android:name=".area_recreativa"
            android:exported="false" />
        <activity
            android:name=".couto_pesca"
            android:exported="false" />
        <activity
            android:name=".sistema_fluvial"
            android:exported="false" />
        <activity
            android:name=".carballeira_francos"
            android:exported="false" />
        <activity
            android:name=".miradoiro_pena"
            android:exported="false" />
        <activity
            android:name=".miradoiro_cumio"
            android:exported="false" />
        <activity
            android:name=".patrimonio_etnografico"
            android:exported="false" />
        <activity
            android:name=".patrimonio_natural"
            android:exported="false" />
        <activity
            android:name=".tipos_patrimonio"
            android:exported="false" />
        <activity
            android:name=".patrimonioNatural"
            android:exported="false" />
        <activity
            android:name=".informacion_ponte_colgante_xirimbao"
            android:exported="false" />
        <activity
            android:name=".informacion_escola_casalonga"
            android:exported="false" />
        <activity
            android:name=".informacion_tunel_faramello"
            android:exported="false" />
        <activity
            android:name=".informacion_ponte_nova_raris"
            android:exported="false" />
        <activity
            android:name=".informacion_nucleo_tradicional_pontevea"
            android:exported="false" />
        <activity
            android:name=".informacion_fonte_lavadoiro_florida"
            android:exported="false" />
        <activity
            android:name=".informacion_lavadoiro_casalonga"
            android:exported="false" />
        <activity
            android:name=".informacion_lavadoiro_francos"
            android:exported="false" />
        <activity
            android:name=".informacion_ponte_lavadoiro_rio_tinto"
            android:exported="false" />
        <activity
            android:name=".informacion_escola_francos"
            android:exported="false" />
        <activity
            android:name=".informacion_pousada_san_antoninho"
            android:exported="false" />
        <activity
            android:name=".informacion_ponte_paradela"
            android:exported="false" />
        <activity
            android:name=".informacion_ponte_medieval_pontevea"
            android:exported="false" />
        <activity
            android:name=".informacion_marco_medieval_porto"
            android:exported="false" />
        <activity
            android:name=".informacion_cruceiro_gotico_francos"
            android:exported="false" />
        <activity
            android:name=".informacion_burga_xermeade"
            android:exported="false" />
        <activity
            android:name=".informacion_cruceiro_tribaldes"
            android:exported="false" />
        <activity
            android:name=".informacion_devesa_agromaior"
            android:exported="false" />
        <activity
            android:name=".informacion_fraga_sestelo"
            android:exported="false" />
        <activity
            android:name=".informacion_area_recreativa_xirimbao"
            android:exported="false" />
        <activity
            android:name=".informacion_couto_pesca"
            android:exported="false" />
        <activity
            android:name=".informacion_miradoiro_cumio"
            android:exported="false" />
        <activity
            android:name=".informacion_sistema_fluvial_ulla_deza"
            android:exported="false" />
        <activity
            android:name=".informacion_carballeira_francos"
            android:exported="false" />
        <activity
            android:name=".informacion_miradoiro_pena_agrela"
            android:exported="false" />
        <activity
            android:name=".fonte_escola_casalonga"
            android:exported="false" />
        <activity
            android:name=".tunel_faramello"
            android:exported="false" />
        <activity
            android:name=".ponte_nova_raris"
            android:exported="false" />
        <activity
            android:name=".nucleo_tradicional_pontevea"
            android:exported="false" />
        <activity
            android:name=".fonte_lavadoiro_florida"
            android:exported="false" />
        <activity
            android:name=".lavadoiro_casalonga"
            android:exported="false" />
        <activity
            android:name=".ponte_colgante_xirimbao"
            android:exported="false" />
        <activity
            android:name=".lavadoiro_francos"
            android:exported="false" />
        <activity
            android:name=".ponte_lavadoiro_rio_tinto"
            android:exported="false" />
        <activity
            android:name=".escola_francos"
            android:exported="false" />
        <activity
            android:name=".pousada_san_antoninho"
            android:exported="false" />
        <activity
            android:name=".ponte_paradela"
            android:exported="false" />
        <activity
            android:name=".ponte_medieval_pontevea"
            android:exported="false" />
        <activity
            android:name=".marco_medieval_porto"
            android:exported="false" />
        <activity
            android:name=".crucerio_gotico_francos"
            android:exported="false" />
        <activity
            android:name=".burga_xermeade"
            android:exported="false" />
        <activity
            android:name=".cruceiro_tribaldes"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>